.side-bar_img {
    width: 360px;
    height: 240px;
    object-fit: contain;
}

.side-bar {
    padding: 10px 20px;
    border: 1px solid var(--bgSoft);
    border-radius: 10px;
    position: sticky;
    top: 20px; /* the sidebar will stick to the top with a distance of 20px */
}

